.section {
    background-color: #1E1E1E;
    min-height: calc(100vh - 76px);
    display: flex;
    align-items: center;
    padding: 90px 0;
    .content {
        display: flex;
        gap: 90px;
        .text__content {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            color: #D2D4DA;
            flex-basis: 50%;
            .subtitle {
                font-size: 22px;
                line-height: 40px;
            }
            .title {
                font-size: 37px;
                font-weight: 600;
                line-height: 55.87px;
            }
            .text {
                font-size: 22px;
                font-weight: 400;
                line-height: 40px;
                margin-bottom: 20px;
                width: 642px;
            }
        }
        .hero__image {
            img {
                position: absolute;
                left: 0;
                width: 50%;
                max-width: 550px;
                height: 460px;
                border-radius: 0 20px 20px 0;
            }
        }
    }
}

@media(max-width: 1380px) {
    .section {
        padding: 40px 0;
        .content {
            // gap: 90px;
            .text__content {
                // row-gap: 16px;
                .subtitle {
                    font-size: 18px;
                    line-height: 32px;
                }
                .title {
                    font-size: 32px;
                    line-height: 45px;
                }
                .text {
                    font-size: 18px;
                    line-height: 32px;
                    // margin-bottom: 20px;
                    width: 515px;
                }
            }
            .hero__image {
                img {
                    // width: 50%;
                    // max-width: 550px;
                    top: 50%;
                    transform: translateY(-40%);
                    height: 360px;
                }
            }
        }
    }
}

@media(max-width: 1190px) {
    .section {
        padding: 40px 0;
        .content {
            // gap: 90px;
            .text__content {
                // row-gap: 16px;
                .subtitle {
                    font-size: 16px;
                    line-height: 28px;
                }
                .title {
                    font-size: 28px;
                    line-height: 40px;
                }
                .text {
                    font-size: 16px;
                    line-height: 28px;
                    // margin-bottom: 20px;
                    width: 456px;
                }
            }
            .hero__image {
                img {
                    max-width: 400px;
                    top: 50%;
                    transform: translateY(-40%);
                    height: 350px;
                }
            }
        }
    }
    @media(min-height: 800px) {
        .section {
            padding: 80px 0;
            min-height: auto;
            .content {
                flex-direction: column-reverse;
                // gap: 90px;
                .text__content {
                    // row-gap: 16px;
                    .subtitle {
                        font-size: 16px;
                        line-height: 28px;
                    }
                    .title {
                        font-size: 28px;
                        line-height: 40px;
                    }
                    .text {
                        font-size: 16px;
                        line-height: 28px;
                        // margin-bottom: 20px;
                        width: 456px;
                    }
                }
                .hero__image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        position: relative;
                        max-width: 100%;
                        width: 100%;
                        top: 100%;
                        transform: translateY(0);
                        height: 350px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

@media(max-width: 991px) {
    .section {
        padding: 80px 0;
        min-height: auto;
        .content {
            flex-direction: column-reverse;
            // gap: 90px;
            .text__content {
                // row-gap: 16px;
                .subtitle {
                    font-size: 16px;
                    line-height: 28px;
                }
                .title {
                    font-size: 28px;
                    line-height: 40px;
                }
                .text {
                    font-size: 16px;
                    line-height: 28px;
                    // margin-bottom: 20px;
                    width: 456px;
                }
            }
            .hero__image {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    position: relative;
                    max-width: 100%;
                    width: 100%;
                    top: 100%;
                    transform: translateY(0);
                    height: 350px;
                    border-radius: 20px;
                }
            }
        }
    }
}

@media(max-width: 575px) {
    .section {
        padding: 40px 0 80px;
        .content {
            gap: 40px;
            .text__content {
                .text {
                    width: 100%;
                }
            }
            .hero__image {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    position: relative;
                    max-width: 100%;
                    width: 100%;
                    top: 100%;
                    transform: translateY(0);
                    height: 350px;
                    border-radius: 20px;
                }
            }
        }
    }
}