@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import './variables.scss';

html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button,
a,
li,
ul {
    all: unset;
    list-style: none;
}
button,
a {
    cursor: pointer;
}
a:hover {
    all: unset;
}
img {
    object-fit: cover;
    // max-width: 100%;
}
body {
    font-family: "Cairo", system-ui;
    scroll-behavior: smooth;
}
.green__text {
    color: $green__color;
}
.gray__text {
    color: $gray__text__color;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
}
.orange__text {
    color: $orange__color;
}
.section {
    margin: 100px auto;
}
.section__title {
    font-size: 37px;
    font-weight: 600;
    line-height: 55.87px;
    text-align: center;
    margin-bottom: 24px;
    color: #101223;
}
.section__subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: $gray__text__color;
    max-width: 926px;
    margin: 0 auto 64px;
}
.container {
    width: 100%;
    max-width: 1345px;
    margin: 0 auto;
}
@media(max-width: 1380px) {
    .container {
        max-width: 1100px;
    }
    .section__title {
        font-size: 32px;
        line-height: 45px;
        margin-bottom: 18px;
    }
    .section__subtitle {
        font-size: 18px;
        line-height: 32px;
        max-width: 760px;
        margin: 0 auto 45px;
    }
    .gray__text {
        font-size: 18px;
        line-height: 36px;
    }
}
@media(max-width: 1199px) {
    .container {
        max-width: 900px;
        width: 100%;
    }
    .section__title {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 12px;
    }
    .section__subtitle {
        font-size: 16px;
        line-height: 28px;
        max-width: 676px;
        margin: 0 auto 32px;
    }
    .gray__text {
        font-size: 16px;
        line-height: 32px;
    }
}
@media(max-width: 991px) {
    .container {
        max-width: 100%;
        width: 100%;
        padding: 0 24px;
    }
}
@media(max-width: 575px) {
    .section__subtitle {
        font-size: 14px;
        line-height: 24px;
    }
}