.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 172px;
    &:nth-child(even) {
        flex-direction: row-reverse;
    }
    > div {
        // flex-basis: 50%;
        display: flex;
        align-items: center;
    }
    .image {
        img {
            width: 493px;
            height: 354px;
            border-radius: 20px;
            object-fit: contain;
        }
    }
    .text__content {
        flex-direction: column;
        align-items: flex-start;
        .box__title {
            font-size: 31px;
            font-weight: 600;
            line-height: 48px;
            margin-bottom: 24px;
        }
        .text {
            margin-bottom: 24px;
        }
    }
}

@media(max-width: 1380px) {
    .box {
        gap: 130px;
        .image {
            img {
                width: 493px;
                height: 290px;
                // border-radius: 20px;
            }
        }
        .text__content {
            .box__title {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 16px;
            }
            .text {
                margin-bottom: 16px;
                max-width: 480px;
            }
        }
    }
}

@media(max-width: 1190px) {
    .box {
        gap: 40px;
        .image {
            flex: 1;
            img {
                width: 100%;
                // height: auto;
            }
        }
        .text__content {
            .box__title {
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 12px;
            }
            .text {
                margin-bottom: 12px;
                max-width: 420px;
            }
        }
    }
}

@media(max-width: 991px) {
    .box {
        gap: 24px;
        .image {
            img {
                width: 100%;
            }
        }
        .text__content {
            flex: 1;
            .box__title {
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 12px;
            }
            .text {
                margin-bottom: 12px;
                max-width: 100%;
            }
        }
    }
}

@media(max-width: 768px) {
    .box {
        gap: 24px;
        flex-direction: column !important;
        .image {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .text__content {
            flex: 1;
            .box__title {
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 12px;
            }
            .text {
                margin-bottom: 12px;
                max-width: 100%;
            }
        }
    }
}
@media(max-width: 575px) {
    .box {
        gap: 18px;
        flex-direction: column !important;
        .image {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .text__content {
            flex: 1;
            .box__title {
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 8px;
            }
            .text {
                margin-bottom: 10px;
                max-width: 100%;
            }
        }
    }
}