.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    color: #FFF;
    height: 76px;
    .links__list,
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .links__list {
        justify-content: flex-end;
        gap: 24px;
        li {
            cursor: pointer;
        }
    }
    .open__btn,
    .close__btn,
    .overlay {
        display: none;
    }
}
@media(max-width: 768px) {
    .header {
        height: 76px;
        &.opened {
            .links__list {
                transform: translateX(0); 
            }
            .overlay {
                opacity: 1;
                pointer-events: all;
            }
        }
        .links__list {
            transition: .3s ease-in-out;
            position: fixed;
            top: 0;
            right: 0;
            width: 164px;
            height: 100vh;
            z-index: 1000;
            background-color: #FFF;
            color: #333;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-right: 40px;
            transform: translateX(100%);
        }
        .overlay {
            transition: .3s ease-in-out;
            display: block;
            pointer-events: none;
            opacity: 0;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #00000091;
            z-index: 1;
            backdrop-filter: blur(2px);
        }
        .close__btn {
            position: absolute;
            display: flex;
            top: 16px;
            left: 10px;
            font-size: 23px;
            color: #FFF;
            background: #333;
            border-radius: 4px;        
        }
        .open__btn {
            font-size: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}