.box {
    width: 100%;
    background-color: #1E1E1E;
    color: #FFF;
    border-radius: 24px;
    padding: 60px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    .detail__info {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        .val {
            font-size: 31px;
            font-weight: 700;
            line-height: 34.44px;
            direction: ltr;
        }
        .attr {
            font-size: 22px;
            font-weight: 600;
            line-height: 24.44px;
            color: #D2D4DA;
        }
    }
}

@media(max-width: 1380px) {
    .box {
        border-radius: 20px;
        padding: 40px 18px;
        .detail__info {
            row-gap: 20px;
            .val {
                font-size: 28px;
                line-height: 30px;
            }
            .attr {
                font-size: 18px;
                line-height: 18px;
            }
        }
    }
}
@media(max-width: 1199px) {
    .box {
        border-radius: 16px;
        padding: 30px 18px;
        .detail__info {
            row-gap: 20px;
            .val {
                font-size: 24px;
                line-height: 26px;
            }
            .attr {
                font-size: 16px;
            }
        }
    }
}
@media(max-width: 768px) {
    .box {
        border-radius: 12px;
        padding: 24px 12px;
        .detail__info {
            row-gap: 14px;
            .val {
                font-size: 18px;
                line-height: 26px;
            }
            .attr {
                font-size: 12px;
            }
        }
    }
}